@import url(./normalize.css);
@import url(./fonts.scss);
:root {
  --font-family: "SF Pro Text", sans-serif;
  --second-family: "Inter", sans-serif;
  --font3: "SF Compact Display", sans-serif;
  --font4: "SFProDisplay", sans-serif;
  --font5: "Lato", sans-serif;
}
h1 {
  font-family: var(--font5);
  font-weight: 400;
  color: red;
}
