@import url(./css/normalize.css);
@import url(./css/fonts.css);
:root {
  --dark-1: #2e335a;
  --dark-2: #454b79;
  --dark-3: #0c1033;
  --dark-4: #1d234d;
  --label-light-primary: #000;
  --label-light-secondary: rgba(60, 60, 67, 0.6);
  --label-light-tertiary: rgba(60, 60, 67, 0.3);
  --label-light-quaternary: rgba(60, 60, 67, 0.18);
  --label-dark-primary: #fff;
  --label-dark-secondary: rgba(235, 235, 245, 0.6);
  --label-dark-tertiary: rgba(235, 235, 245, 0.3);
  --label-dark-quaternary: rgba(235, 235, 245, 0.18);
  --papaya-color-blue: #22d7ff;
  --papaya-color-dark-1: #2e335a;
  --papaya-color-dark-2: #1c1b33;
  --papaya-color-dark-purple: #48319d;
  --papaya-color-purple: #8322ff;
  --papaya-color-deep-purple: #613690;
  --papaya-color-red: #ed695e;
  --papaya-color-yellow: #f4bf4f;
  --papaya-color-green: #61c554;
  --papaya-color-neon-purple: #8015a7;

  --font-family: "SF Pro Text", sans-serif;
  --second-family: "Inter", sans-serif;
  --font3: "SF Compact Display", sans-serif;
  --font4: "SFProDisplay", sans-serif;
  --font5: "Lato", sans-serif;

  --transition: 2s ease-in-out;
}

@property --p {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1482px;
  margin: 0 auto;
  padding: 0 15px;
}
body {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  color: var(--label-dark-primary);
  background: #2e335a;
}
// /////////////////////////////////////
// Header
.header {
  &__search {
    max-width: 442px;
  }
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

// Search
.header__search {
  width: 446px;
}
.search {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  background: linear-gradient(
    135deg,
    rgba(15, 85, 232, 0.1) 0%,
    rgba(157, 223, 243, 0.1) 100%
  );
}
.search__btn {
  position: relative;
  width: 32px;
  height: 32px;
  flex: 0 0 auto;
  outline: none;
  outline-color: transparent;
  transition: outline var(--transition), transform var(--transition);
}
.progress-circle.progress-circle--search-btn {
  top: 0;
  left: 0;
  transition: --p var(--transition), transform var(--transition);
}
.search__input {
  padding: 4px;
  width: 100%;
  color: var(--label-dark-primary);
  border: none;
  background: transparent;
  outline: none;
  outline-color: transparent;
  transition: outline var(--transition);
  &::placeholder {
    font-family: var(--font5);
    font-weight: 400;
    font-size: 13px;
    color: var(--label-dark-primary);
  }
}
.search__micro {
  position: relative;
  width: 32px;
  height: 32px;
  flex: 0 0 auto;
  outline: none;
  outline-color: transparent;
  transition: outline var(--transition), transform var(--transition);
}
.progress-circle.progress-circle--micro {
  top: 0;
  left: 0;
  transition: --p var(--transition), transform var(--transition);
}
.search__btn:focus-visible,
.search__micro:focus-visible {
  outline: 1px solid var(--label-dark-primary);
  border-radius: 100%;
}
.search__btn:hover,
.search__micro:hover {
  .progress-circle {
    --p: 100%;
  }
  .progress-circle::before {
    opacity: 1;
  }
}
.search__btn:active,
.search__micro:active,
.progress-circle--micro:active {
  transform: scale(0.9);
}

// Upmenu
.header__upmenu {
  position: absolute;
  right: 0;
}
.upmenu__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.upmenu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  outline-color: transparent;
  border: 1px solid transparent;
  border-radius: 100%;
  transition: outline var(--transition), transform var(--transition),
    border var(--transition), border-radius var(--transition);
  &--mail {
    background-image: url("/src/img/icon/top-menu-mail.svg");
  }
  &--bell {
    background-image: url("/src/img/icon/top-menu-bell.svg");
  }
  &--profile {
    width: 32px;
    height: 32px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--label-dark-primary);
    background: var(--papaya-color-blue);
    border-radius: 100%;
  }
  &:focus-visible {
    outline: 1px solid var(--label-dark-primary);
    outline-offset: 2px;
    border-radius: 100%;
  }
  &:hover {
    border-radius: 100%;
    border: 1px solid var(--label-dark-primary);
  }
  &:active {
    transform: scale(0.9);
  }
}
////////////////////////////////////////////
// Main-menu
.main-menu {
  padding: 0 16px;
  max-width: 250px;
}
.main-menu__head {
  padding: 15px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}
.main-menu__btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("/src/img/icon/main-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.menu__item {
  display: flex;
  flex-direction: column;
}
.chapter {
  display: flex;
  flex-direction: column;
}
.chapter__item {
  position: relative;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border-image-slice: 1;
}

.chapter__item::after {
  content: "";
  position: absolute;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(172, 66, 158, 1),
    rgba(255, 255, 255, 0)
  );
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(-50%);
  transition: opacity var(--transition), transform var(--transition);
}

.chapter__item--title {
  border: none;
  pointer-events: none;
}

.chapter__title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 12px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.chapter__link {
  width: calc(100% - 96px);
  display: block;
  position: relative;
  padding: 16px 48px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;
  color: var(--label-dark-secondary);
  text-transform: capitalize;
  outline: none;
  outline-color: transparent;
  transition: outline var(--transition), color var(--transition),
    transform var(--transition);
}
.chapter__link::after {
  content: "";
  background: radial-gradient(
    ellipse farthest-side at 50% -50%,
    rgba(128, 21, 167, 1),
    rgba(97, 54, 144, 0)
  );
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity var(--transition);
}

.chapter__link:focus-visible {
  outline: 1px solid var(--label-dark-primary);
}

.chapter__link:hover {
  color: var(--label-dark-primary);

  .progress-circle {
    --p: 100%;
  }
  .progress-circle::before {
    opacity: 1;
  }
}
.chapter__link:hover::after,
.chapter__item:hover::after {
  opacity: 1;
  z-index: -1;
  transform: translateX(0);
}
.chapter__link:active {
  transform: scale(0.9);
}
.chapter__item:active::after {
  opacity: 0;
}
// progress
.progress-circle {
  position: absolute;
  display: inline-block;
  top: 10px;
  left: 2px;
  width: 32px;
  aspect-ratio: 1;
  border-radius: 100%;
  background: linear-gradient(
    -90deg,
    rgba(196, 39, 251, 1) calc(-60% + var(--p)),
    rgba(34, 215, 255, 1) var(--p),
    transparent 0
  );
  transition: --p var(--transition);
}
.progress-circle::before,
.progress-circle::after {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1000;
}
.progress-circle::before {
  opacity: 0.6;
  transition: opacity var(--transition);
}
.progress-circle::after {
  background: #2e335a;
  z-index: 100;
}

.progress-circle--home::before {
  background-image: url("/src/img/icon/home.svg");
}
.progress-circle--shorts::before {
  background-image: url("/src/img/icon/shorts.svg");
}
.progress-circle--subscriptions::before {
  background-image: url("/src/img/icon/subscriptions.svg");
}
.progress-circle--music::before {
  background-image: url("/src/img/icon/music.svg");
}

.progress-circle--library::before {
  background-image: url("/src/img/icon/library.svg");
}
.progress-circle--history::before {
  background-image: url("/src/img/icon/history.svg");
}
.progress-circle--videos::before {
  background-image: url("/src/img/icon/your-videos.svg");
}
.progress-circle--watcher::before {
  background-image: url("/src/img/icon/watch-later.svg");
}
.progress-circle--downloads::before {
  background-image: url("/src/img/icon/downloads.svg");
}
.progress-circle--more::before {
  background-image: url("/src/img/icon/show-more.svg");
}

.progress-circle--designcode::before {
  background-image: url("/src/img/icon/logo-design-code.svg");
}
.progress-circle--figma::before {
  background-image: url("/src/img/icon/logo-figma.svg");
}
.progress-circle--sketch::before {
  background-image: url("/src/img/icon/logo-sketch.svg");
}
.progress-circle--spline::before {
  background-image: url("/src/img/icon/spline.svg");
}

.progress-circle--search-btn::before {
  background-image: url("./img/icon/search.svg");
}
.progress-circle--search-btn::after {
  background: #2c3869;
}
.progress-circle--micro::before {
  background-image: url("./img/icon/micro.svg");
}
.progress-circle--micro::after {
  background: #37436a;
}
//
